/* MILLHOUSE PROFILE COLOURS - only here for easy acess, remove later */

/* #0E3147 dark blue */
/* #6D6D6D dark grey */
/* #D4D0D1 lighter grey */
/* #4D7E95 lighter blue */
/* #C5B2AB beige */

/* --------------------------------- Mobile styling goes here ----------------------------- */



/*General styling*/
ul{
    list-style: none;
    padding: 0px;
}

header li, footer li{
    text-align: center;
    margin: 10px;
}

/*  Body */
body{
    background-color: #f2f2f2;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/*  Main */
main{
    margin: auto;
}

.wrapper{
    width: 90%;
    margin: auto;
}


.messagebox_fail{
    color: #F64747;
    font-style: italic;
}

.messagebox_success{
    color: #26C281;
    font-style: italic;
}


/*  Navbar */
.navbar-toggler{
    border: 0px;
}

.navbar-collapse>ul>li{
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    letter-spacing: 0.1em;
    text-align: right;
    }
    
.navbar-collapse>ul>li>a{
    color: #6D6D6D;
    margin: 10px;
}


/* Sidebar */

.sidebar {
    background: white;
    margin-bottom:1em;
    display: none;
    max-height: 1048px;
}

aside{
    margin: auto;
    width: 90%;
}

.sidebar h3 {
    color:#6D6D6D;
    text-transform: uppercase;
    font-size: 1.4em;
    margin-bottom:0.5em;
}
.sidebar ul{
    text-align:left;
    font-size: 0.9em;
}

.sidebar ul li {
    margin-bottom:10px;
}

.sidebar_underline{
    border: 0.5px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Loginpage-styling, also applies to register page */  
.background_loginpage{  
    background-image: url('../images/background_lightblue.jpg');
    margin: 0px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 0;
    display: -webkit-box;
}

.login{ 
    width: 260px;
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 40px; 
    margin-top: 60px;
    margin-bottom: 100px;
    text-align: center;
    border-radius: 15px;
}

#logo_image{
    margin-bottom: 20px;
}

.messagebox{
    margin-bottom: 20px;
}

input[type=username], input[type=password], 
input[type=email], input[type=name], input[type=submit]{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    width: 180px;
    font-size: 0.9em;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
}

input[type=submit]{
    background-color: #0E3147;
    border: 1px solid #0E3147;
    margin-bottom: 20px;
}

input[type=submit], p{
    color: #fff;
}

input[type=submit]:hover{
    background-color: #C5B2AB;
    border: 1px solid #C5B2AB;
    margin-bottom: 20px;
}

/* ----- LANDING PAGE ----- */

.container_landingpage{
    background-image: url(../images/feed_background.jpg);
    background-position: right 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

/* ----- POST ----- */


.post{
    background:white;
    margin-bottom:1em;
}

.post h2{
    font-size: 1.7em;
}

.post_content{
    padding: 1.5em;
}

.thumb_wrap{
    display: none;
    height: 250px;
    width: 100%;
    overflow: hidden;
}

.img-thumbnail{
   max-width: 200%; 
   max-height: 200%;
   padding: 0;
    border-radius: 0;
    border: none;
}

/* categories*/

.categories{
    margin-bottom: 100px;
    max-width: 900px;
}


.categories a{
    border: 10px solid #f2f2f2;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    text-decoration: none;
}

#categoryid1{
    background-image: url('../images/sunglasses.jpg');
}

#categoryid2{
    background-image: url('../images/watches.jpg');
}

#categoryid3{
    background-image: url('../images/interior.jpg');
}

#categoryid4{
    background-image: url('../images/other.jpg');
}

.categories h3{
    margin: 30px;
    margin-top: 70px;
    text-align: center;
    color: white;
    padding: 30px;
    background-color: rgba(000,0,0,0.7);
}

.dateorder{
    text-align: right;
    margin-bottom: 7px;
}

.dateorder a{
    background-color: white;
    color: black;
    padding: 10px;
}

.dateorder_active{
    text-decoration: underline;
}


/* Create Post Form */
.form{
    padding-top: 30px;
    background-color: white;
    border: 1px solid #bdbdbd;    
}

.createpost h2{
    text-align: center;
    margin: 25px 0 25px 0;
}

.createpost{
    width: 100%;
}
input, textarea, select{
    width: 100%;
}

#title{
    height: 40px;
    border: 1px solid #bdbdbd;
}

textarea{
    border: 1px solid #bdbdbd;
}

/* CK Editor height */
.ck-editor__editable {
    min-height: 200px;
}

/* View Post Page */

.viewpost h2{
    margin: 25px 0 10px 0;
}
#viewpost_span{
    float: left;
    width: 100%;
    padding: 10px 0 10px 0;
}
.viewpost h6{
    font-size: 0.9em;
    padding: 10px 0 10px 0;
    width: 50%;
    float: left;
}
#comments{
    text-align: right;
    padding: 10px 0 10px 0;
    width: 50%;   
}
.viewpost .text_container{
    background-color: white;
    padding: 20px 0 20px 0;
    margin-top: 10px;
}

.viewpost .img-fluid{
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.blogpost_image{
    display: block;
    width: 100%;
    height: 10px;
    position: relative;
    overflow: hidden;
    background-color:white;
    //padding: 75% 0 0 0; /* 4:3 aspect ratio */ 
    padding: 56.25% 0 0 0; /* 16:9 aspect ratio */
    //padding: 66.66% 0 0 0; /* 3:2 aspect ratio */
    
}

#delete_button, #edit_button{
    background: #f44336;
    border: #e53935;
    width: 100%;
    min-width: 60px;
    padding: 0.9vw;
    float: right;
    margin-top: -10px;
}

#edit_button{
    background: #2196f3;
    border: #1e88e5;
}

#commentbox{
    padding:0;
    margin:0;
    display: inline-block;
}


/* Profile Page */
.profile_header{
    background-image: url('../images/background_profilepage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
    text-align: center;
}

#profile_avatar{
    margin-top: 20px;
    margin-bottom: 20px;
}

#user_name{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

#user_stats{
    color: #fff;
    font-weight: lighter;
    letter-spacing: 0.07em;
}

.profile_header .fa{
    font-size: 1.3em;
    vertical-align: bottom;
}

/* Write post-button */
.btn{
    background-color: #fff;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.btn:hover{
    background-color: #0E3147;
    color: #fff;
}


.profile_content{
    margin-top: 40px; 
    margin-bottom: 40px;
}

.user_comments_wrapper{
    margin-top: 40px; 
}

.comment_box{
    background:#fff;
    padding:2em;
    margin-bottom:1em;
}

/* 404-page*/

.background_404{  
    background-image: url('../images/background_lightblue.jpg');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 0;
    display: -webkit-box;
    
}

.page_404{
    margin: auto;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 100px;
    max-width: 400px;
    border-radius: 10px;
    background: white;
    padding: 30px;
}

.page_404_message{
    margin: 20px;
}

.page_404 p{
    font-style: italic;
    font-size: 0.85em;
    margin: 5px;
}

.page_404 a{
    text-decoration: underline;
}

.page_404 img{
    opacity: 0.2;
    width: 300px;
}

/* ABOUT-page */

.about_container{
    background-image: url('../images/background_lightblue.jpg');
    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 0;
}

.about_box{
    background-color: #fff;
    padding: 40px;
    margin-top: 150px;
    margin-bottom: 150px;
    border-radius: 15px;
}


/* Footer */
footer{
    background-color: #0E3147;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding: 20px;
}

footer a{
    color: #f2f2f2;
    font-size: 1em;
    letter-spacing: 0.1em;
    line-height: 140%;
    text-decoration: none;
}

footer a:hover{
    color: #97C9C6;
}

footer ul{
    padding: 0px;
}

footer li{
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    list-style: none;
    text-align: center;
}

footer li .fa{
    margin: 5px;
    font-size: 2em;
}



/* General text styling */
/*  Paragraphs */
p{
    color: #2d2d2d;
}

/*  Links */
a{
    color: #4D7E95;
}

a:hover{
    color: #4D7E95;
}


/*Special Headings*/
.light_spacious{
    text-align: center;
    color: #6D6D6D;
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 2em;
    font-weight: 200;
    letter-spacing: 0.3em;
}


/*Span Classes*/
.uppercase {
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

.smallcaps{
    text-transform: lowercase;
    font-variant: small-caps;
}

.grey {
    color:#6D6D6D;
}
/*/camilla*/



/* ---------------------------------- Tablet styling goes here ------------------------------ */
@media screen and (min-width: 768px){


/* Loginpage-styling, also applies to register page */
    
.login{ 
width: 320px;
}
    .thumb_wrap{
    display: inline;
    }
    
    .sidebar{
        display: inline;
    }
    
    .post{
    height: 250px;
}
    
 

    

} /* Closing Tablet */

/* -------------------------------- Desktop styling goes here ----------------------------------- */
@media screen and (min-width: 992px){
    
.createpost{
    width: 60%;
}
.viewpost h6{
    font-size: 1em;
}
    
    .wrapper{
        max-width: 900px;
    }


 



   
} /* Closing Desktop */