/* MILLHOUSE PROFILE COLOURS */

/* #0E3147 dark blue */
/* #6D6D6D dark grey */
/* #D4D0D1 lighter grey */
/* #4D7E95 lighter blue */
/* #C5B2AB beige */

/* --------------------------------- Mobile styling goes here ----------------------------- */

/*  Body */
body{
    background-color: #f2f2f2;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/*  Main */
main{
    margin: auto;
}

.messagebox_fail{
    color: #F64747;
    font-style: italic;
}

.messagebox_success{
    color: #26C281;
    font-style: italic;
}


/*  Navbar */
.navbar{
    background-color: #fff;
}

.navbar-toggler{
    border: 0px;
}

.navbar-collapse>ul>li{
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    letter-spacing: 0.1em;
    text-align: right;
    }
    
.navbar-collapse>ul>li>a{
    color: #6D6D6D;
    margin: 10px;
}


/* Sidebar */

.sidebar {
    background: white;
    margin-bottom: 70px;
    display: none;
}

aside{
    margin: 0px;
}

.aside_search{
    margin-top: 20px;
}

aside input[type="text"]{
    height: 40px;
    margin-top: 10px;
}

aside input[type="submit"]{
    margin: 10px 0 30px 0;
    height: 40px;
    padding: 0;
    width: 100%;
}

aside input[type="submit"]:hover{
    margin: 10px 0 30px 0;
}

.sidebar h3 {
    color:#6D6D6D;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 0.9em;
    margin-bottom: 10px;
}
.sidebar ul{
    text-align:left;
    font-size: 0.9em;
}

.sidebar ul li {
    margin-bottom:10px;
}

.sidebar_underline{
    border-top: 4px dotted #c2c2c2;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.aside_months{
    display: none;
    margin-bottom: 20px;
}

.aside_latest{
    padding: 0;
}

.aside_latest h3{
    font-size: 0.9em;
    margin-bottom: 20px;
}

.aside_latest li {
    font-size: 1em;
}

/* Loginpage-styling, also applies to register page */  
.background_loginpage{  
    background-image: url('../images/background_lightblue.jpg');
    margin: 0px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 0;
    display: -webkit-box;
}

.login{ 
    width: 260px;
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 20px; 
    margin-top: 60px;
    margin-bottom: 120px;
    text-align: center;
    border-radius: 15px;
}

.continue {
    display: block;
    letter-spacing: 0.02em;
    float: right;
    clear: both;
    font-style: italic;
    width: 100%;
    text-align: center;
    font-size: 1em;
    margin-top: 15px;
}

.continue .fa{
    font-size: 0.7em;
}

#logo_image{
    margin-bottom: 20px;
}

.messagebox{
    margin-bottom: 20px;
}

input[type=username], input[type=password], 
input[type=email], input[type=name], input[type=submit]{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    width: 180px;
    font-size: 0.9em;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
}

input[type=submit]{
    background-color: #0E3147;
    border: 1px solid #0E3147;
    margin-bottom: 20px;
}

input[type=submit], p{
    color: #fff;
}

input[type=submit]:hover{
    background-color: #C5B2AB;
    border: 1px solid #C5B2AB;
    margin-bottom: 20px;
}

/* ----- Feed ----- */

.feed_container{
    background-image: url(../images/feed_background_blue_gradient.jpg);
    background-position: right 0;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 50px;
}

.dateorder{
    text-align: right;
    margin-bottom: 7px;
    margin-right: 10px;
    font-size: 0.8em;
}

.dateorder a{
    background-color: white;
    color: black;
    padding: 10px;
}

.dateorder_active{
    text-decoration: underline;
}


/* Post */


.single_post_in_feed{
    background: white;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 10px;
    box-shadow: -9px 15px 53px -34px rgba(0,0,0,0.62);
    -webkit-box-shadow: -9px 15px 53px -34px rgba(0,0,0,0.62);
    -moz-box-shadow: -9px 15px 53px -34px rgba(0,0,0,0.62);
    
}

.single_post_in_feed h2>a{
    font-size: 0.8em;
    color: #2d2d2d;
}

.single_post_in_feed h2>a:hover{
    color: #4D7E95;
}

.post_content{
    padding: 32px;
    line-height: 170%;
}

#post_paragraph{
    display: none;
}

.thumbnail_wrapper{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    overflow: hidden;
}

.thumbnail{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    position: relative;
    height: 240px;
    overflow: hidden;
}

.thumbnail img.post_image{ 
    object-fit: cover;
    width: 100%;
    height: 240px;
 }

.no_post{
    background: white;
    border-radius: 10px;
    text-align: center;
    padding: 20px 0px;
    font-size: 0.9em;
    font-weight: 300;
}

/* Pagination */

 .page-item.active .page-link{
     background-color: #4D7E95;
     border: 0px;
 }

.page-item a{
    color: #4D7E95;
 }

.page-item a:hover{
    color: #4D7E95;
 }

/* Categories */

.container_categories h1 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.container_categories{
    background-image: url(../images/feed_background_blue_gradient.jpg);
    background-position: right 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

.categories_wrapper{
    border-radius: 10px;
    max-width: 900px;
    width: 97%;
    margin: auto;
    padding-bottom: 80px;
}

.categories_wrapper a{
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    border: 5px solid white;
}

.categories_wrapper h3{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 0.2em;
}


.image_wrappers{
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
}

#categoryid1{
    background-image: url('../images/sunglasses.jpg');
}

#categoryid2{
    background-image: url('../images/watches.jpg');
}

#categoryid3{
    background-image: url('../images/interior_ny.jpg');
}

#categoryid4{
    background-image: url('../images/other.jpg');
}


/* Create/Edit Post Forms */
.createpost_page, .editpost_page{
   background-image: url(../images/feed_background_blue_gradient.jpg);
    background-position: right 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.form{
    padding: 40px 20px 20px 20px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 50px;
}

.editpost h1, .createpost h1{
    padding: 60px;
}

.prev_img{
    overflow: hidden;
    height: 200px;
}

.createpost, .editpost{
    width: 100%;
    height: 100%;   
}

.editpost img{
    width: 100%;
}
input, textarea, select{
    width: 100%;
}

select{
    height: 40px;
}

#title{
    height: 40px;
    border: 1px solid #bdbdbd;
}

.inputfile{
    height: 40px;
    margin-top: 5px;
}


#publish_button{
    margin: 0;
    width: 100%;
}

textarea{
    border: 1px solid #bdbdbd;
}

/* CK Editor height */
.ck-editor__editable {
    min-height: 200px;
}

/* View Post Page */
.viewpost{
    background-image: url(../images/feed_background_blue_gradient.jpg);
    background-position: right 0;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    padding-top: 50px;
    padding-bottom: 50px;
}

#postsection_viewpost{
    height: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}
.viewpost h1{
    padding-top: 40px;
    padding-bottom:20px;
    text-align: left;
    font-size: 1.5em;
}
#viewpost_span{
    float: left;
    width: 100%;
    padding: 10px 0 10px 0;
}

.viewpost h6{
    font-size: 0.9em;
    padding: 10px 0 10px 0;
    width: 50%;
    float: left;
}
#comments{
    text-align: right;
    padding: 10px 0 10px 0;
    width: 50%;   
}
.viewpost .text_container{
    background-color: white;
    padding: 20px 0 20px 0;
    line-height: 190%;
    word-wrap: break-word;
}

#postsection_viewpost h2{
    color: #2d2d2d;
    font-size: 1.7em;
}

#postsection_viewpost h2:hover{
    color: #4D7E95;
}

#postsection_viewpost header{
    margin-bottom: 20px;
}

.viewpost .img-fluid{
    display: block;
    max-width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.blogpost_image{
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color:white;
    padding: 56.25% 0 0 0; /* 16:9 aspect ratio */
    
}

#delete_button, #edit_button{
    background: #f44336;
    border: none;
    width: 100px;
    min-width: 60px;
    padding: 0.9vw;
    float: right;
    margin: -10px 10px 0px 5px;
}

#edit_button{
    background: #0E3147;
    border: none;
}
#edit_button:hover{
    background-color: #C5B2AB;
    margin-bottom: 0px;
    border: none;
}
#delete_button:hover{
    background-color: #C5B2AB;
    margin-bottom: 0px;
    border: none;
}

/* Comments on viewpost */
.comments_displayed_on_viewpost_page{
    margin-top: 20px;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

#commentbox{
    padding-bottom: 10px;
    margin: 0;
    display: inline-block;  
}
#comments_h1{
    margin-top: 40px;
    padding: 0;
    font-size: 1.5em;
    margin-bottom: 15px;
}

#addcomments_h1{
    margin-bottom: 15px;
    font-size: 1.5em;
}

#add_comments_form_viewpost{
    background: #fff;
    margin-bottom: 15px;
    padding: 15px; 
    border-radius: 10px;
}

#comment_field_viewpost{
    padding: 15px;
    background: #f8f9fa;
    border: dimgray; 
    margin-bottom: 15px;
    margin-top: 15px;
    border:1px solid #e2e2e2;
    border-radius: 10px;
}

#not_logged_in_user{
    margin-top: 15px;
    background: #f8f9fa;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid #e2e2e2;
}
#admin_delete_comment_viewpost{
    margin-top: 10px;
}

.fa-trash{
    color: #f44336;
}


/* Profile Page */
.profile_header{
    background-image: url('../images/background_profilepage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
    text-align: center;
}

#profile_avatar{
    margin-top: 20px;
    margin-bottom: 20px;
}

#profile_avatar:hover{
    border: 2px solid #000;
    cursor: pointer;
}

#user_name{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

#user_stats{
    color: #fff;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 0.07em;
}

#profilephotopicker {
    height: 0;
    width: 0;
    overflow: hidden;
}

.profile_header .fa{
    font-size: 1.3em;
    vertical-align: bottom;
}

.profile_content{
    margin-top: 40px; 
    margin-bottom: 40px;
}

.no_content_on_profile_message{
    margin-bottom: 80px;
}

.no_content_on_profile_message p{
    text-align: center;
}

.posts_displayed_on_profile_page{
    background:white;
    padding: 32px;
    margin-bottom:10px;
    border-radius: 10px;
}

.profile_content h1{
    font-size: 1.6em;
    text-align: center;
    line-height: 150%;
    font-weight: 200;
    letter-spacing: 0.3em;
    color: #6D6D6D;
}

.profile_content h2{
    font-size: 1.6em;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #2d2d2d;
}

.profile_content h2:hover{
    color: #4D7E95;
}

.title_date{
    margin: 0px;
}

.title_date>.postheading{
    float: left; 
}

.post_actions{
    margin: 0px;
}

.container_comments_displayed_on_profile_page{
    margin-top: 40px;
}

.comments_displayed_on_profile_page{
    background: white;
    padding: 32px;
    margin-bottom: 15px;
    border-radius: 10px;
}

#comment_text{
    margin-top: 10px;
    margin-bottom: 0px;
    font-style: italic;

}

#edit_post_via_profile, #delete_post_via_profile{
    background: none;
    border: 0px;
    width: 180px;
    padding: 0px;
    margin: 0px;
    width: auto;
    border-radius: 0px;
    display: inline-block;
}

#edit_post_via_profile, #delete_post_via_profile, p{
    color: #4D7E95;
    font-size: 1em;
    text-align: left;
}

#edit_post_via_profile:hover, #delete_post_via_profile:hover{
    text-decoration: underline;
}

/* Write post-button */
.btn{
    background-color: #fff;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.btn:hover{
    background-color: #0E3147;
    color: #fff;
}


/* 404-page*/

.background_404{  
    background-image: url('../images/background_lightblue.jpg');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 0;
    display: -webkit-box;
    
}

.page_404{
    margin: auto;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 100px;
    max-width: 400px;
    border-radius: 10px;
    background: white;
    padding: 30px;
}

.page_404_message{
    margin: 20px;
}

.page_404 p{
    text-align: center;
    font-style: italic;
    font-size: 0.85em;
    margin: 5px;
}

.page_404 a{
    text-decoration: underline;
}

.page_404 img{
    opacity: 0.2;
    width: 300px;
}

/* ABOUT-page */

.about_container{
    background-image: url('../images/background_lightblue.jpg');
    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 0;
    min-height: 100vh;
}

.about_box{
    background-color: #fff;
    padding: 40px;
    margin-top: 160px;
    margin-bottom: 60px;
    border-radius: 15px;
}

.about_box h1{
    text-align: left;
    margin-bottom: 20px;
    line-height: 160%;
    font-size: 1.2em;
    font-weight: 200;
    letter-spacing: 0.3em;
}


/* Footer */
footer{
    background-color: #0E3147;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding: 20px;
}

footer a{
    color: #f2f2f2;
    font-size: 0.7em;
    letter-spacing: 0.2em;
    line-height: 140%;
    text-decoration: none;
}

footer a:hover{
    color: #97C9C6;
}

footer ul{
    padding: 0px;
}

footer li{
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    list-style: none;
    text-align: center;
}

footer ul>li .fa{
    margin: 5px;
    font-size: 2.7em;
}


/* General text styling */
/*  Paragraphs */
p{
    color: #2d2d2d;
}

/*  Links */
a{
    color: #4D7E95;
}

a:hover{
    color: #4D7E95;
}


/*Special Headings*/
.light_spacious{
    text-align: center;
    color: #6D6D6D;
    font-size: 2em;
    padding-top: 60px;  /* Remove? */
    padding-bottom: 60px; /* Remove? */
    font-weight: 200;
    letter-spacing: 0.3em;
}


/*Span Classes*/
.uppercase {
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

.smallcaps{
    text-transform: lowercase;
    font-variant: small-caps;
}

.grey {
    color:#969696;
}

/* Also our color used for links*/
.lightblue{ 
    color: #4D7E95;
}

.darkgrey {
    color:#505050;
}

.indent_left{
    margin-left: 3px;
}

.indent_right{
    margin-right: 3px;
}

/*General styling*/
ul{
    list-style: none;
    padding: 0px;
}

header li, footer li{
    text-align: center;
    margin: 10px;
}

.alert{
    margin: 0;
    border-radius: 0;
}

/* ---------------------------------- Tablet styling goes here ------------------------------ */
@media screen and (min-width: 768px){

    .login{ 
        width: 320px;
    }
    
    .no_post{
        padding: 40px;
        font-size: 1.1em;
    }
    
    /* Date in feed */
    .dateorder{
        font-size: 1em;
    }
    
    /* Create/Editpost */
    .form{
        padding: 50px 50px 35px 50px;
        margin-bottom: 150px;
    }
    
    .ck-editor__editable {
        min-height: 300px;
    }
    
    select{
        width: 140%;       
    }
    
    /* Thumbnail */
    .thumbnail_wrapper{ 
        margin: 0px;
        padding: 0px;
        height: 290px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px; 
        box-shadow: -9px 15px 53px -34px rgba(0,0,0,0.62);
        -webkit-box-shadow: -9px 15px 53px -34px rgba(0,0,0,0.62);
            -moz-box-shadow: -9px 15px 53px -34px rgba(0,0,0,0.62);
    } 

    .thumbnail{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px; 
        height: 290px;
    }

    .thumbnail img.post_image{ 
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
     }

    /* Sidebar */
    .sidebar{
        display: none;
        background: none;
    }
    
    aside{
        display: none;
    }

    #postsection_viewpost{
        padding: 40px;
    }

    #postsection_viewpost h2{
        font-size: 1.9em;
    }
    

    
    /* Profile */
    .profile_content{
        margin-top: 70px;
    }

    .profile_content h1{
        font-size: 1.7em;
        text-align: left;
        line-height: 150%;
    }

    .no_content_on_profile_message p{
        text-align: left;
    }

    .container_comments_displayed_on_profile_page{
        margin-top: 60px;
    }
    
    /* Displaying the posttext when not in mobile */
    #post_paragraph{
        display: inline;
    }

    /* About */
    .about_box h1{
        font-size: 1.8em;
    }
    
        
    /*Categories*/
    /*overlay over image + disappears(opacity:0) when hover*/
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: rgba(000,0,0,0.7);
        opacity:0.7;
    }

    .categories_wrapper a:hover .overlay {
        opacity:0;
    }
    
    .image_wrappers{
        padding: 50px 60px;
    }
    
    /*Fixing the issue with padding and not aligning on Pagination links in home*/
     .pagination_container {
         padding:0px;
    }

} /* Closing Tablet */

/* -------------------------------- Desktop styling goes here ----------------------------------- */
@media screen and (min-width: 992px){
    
    /* Feed */
    .no_post{
        padding: 50px;
        font-size: 1.4em;
        max-height: 170px;
    }
    
    /* Creat/Editpost */
    
    .createpost, .editpost{
        width: 60%;
    }
    
    /* Viewpost */
    .viewpost{
        width: 80%;
    }
    .viewpost h6{
        font-size: 1em;
    }
    
    .viewpost h1{
        font-size: 2em;
    }
    
    /* Sidebar */
    .sidebar{
        display: inline;
        background: #fff;
        border-radius: 10px;
        box-shadow: -9px 15px 53px -34px rgba(0,0,0,0.62);
        -webkit-box-shadow: -9px 15px 53px -34px rgba(0,0,0,0.62);
        -moz-box-shadow: -9px 15px 53px -34px rgba(0,0,0,0.62);
    }
    
     aside{
        display: inline;
    }

   
} /* Closing Desktop */