/* MILLHOUSE PROFILE COLOURS - only here for easy acess, remove later */

/* #0E3147 dark blue */
/* #6D6D6D dark grey */
/* #D4D0D1 lighter grey */
/* #4D7E95 lighter blue */
/* #C5B2AB beige */

/* --------------------------------- Mobile styling goes here ----------------------------- */



/*General styling*/
ul{
    list-style: none;
    padding: 0px;
}

header li, footer li{
    text-align: center;
    margin: 10px;
}

/*  Body */
body{
    background-color: #f2f2f2;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/*  Main */
main{
    margin: auto;
}

.messagebox_fail{
    color: #F64747;
    font-style: italic;
}

.messagebox_success{
    color: #26C281;
    font-style: italic;
}


/*  Navbar */
.navbar{
    background-color: #fff;
}

.navbar-toggler{
    border: 0px;
}

.navbar-collapse>ul>li{
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    letter-spacing: 0.1em;
    text-align: right;
    }
    
.navbar-collapse>ul>li>a{
    color: #6D6D6D;
    margin: 10px;
}


/* Sidebar */

.sidebar {
    background: white;
    margin-bottom:1em;
    display: none;
}

aside{
    margin: 0px;
}

.sidebar h3 {
    color:#6D6D6D;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 0.9em;
    margin-bottom: 10px;
}
.sidebar ul{
    text-align:left;
    font-size: 0.9em;
}

.sidebar ul li {
    margin-bottom:10px;
}

.sidebar_underline{
    border-top: 0.3em dotted #c2c2c2;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.aside_months{
    display: none;
}

.aside_latest{
    margin-left: 42%;
}

.aside_latest h3{
    font-size: 0.9em;
    margin-bottom: 20px;
}

.aside_latest li {
    font-size: 1em;
}

/* Loginpage-styling, also applies to register page */  
.background_loginpage{  
    background-image: url('../images/background_lightblue.jpg');
    margin: 0px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 0;
    display: -webkit-box;
}

.login{ 
    width: 260px;
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 40px; 
    margin-top: 60px;
    margin-bottom: 100px;
    text-align: center;
    border-radius: 15px;
}

#logo_image{
    margin-bottom: 20px;
}

.messagebox{
    margin-bottom: 20px;
}

input[type=username], input[type=password], 
input[type=email], input[type=name], input[type=submit]{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    width: 180px;
    font-size: 0.9em;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
}

input[type=submit]{
    background-color: #0E3147;
    border: 1px solid #0E3147;
    margin-bottom: 20px;
}

input[type=submit], p{
    color: #fff;
}

input[type=submit]:hover{
    background-color: #C5B2AB;
    border: 1px solid #C5B2AB;
    margin-bottom: 20px;
}

/* ----- LANDING PAGE ----- */

.feed_wrapper{
    background-image: url(../images/feed_background.jpg);
    background-position: right 0;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 100px;
}


/* ----- POST ----- */


.single_post_box_in_feed{
    background:white;
    margin-bottom:1em;
}

.single_post_box_in_feed h2{
    margin-top: 5px;
    font-size: 1.3em;
}

.post_content{
    padding: 32px;
}

.thumbnail_wrapper{
    display: none;
    height: 290px;
    overflow: hidden;
    padding: 0;
    border-radius: 0;
    border: none;
}

.thumbnail{
    position: relative;
    height: 290px;
    overflow: hidden;
}

.thumbnail img.post_image_in_feed{ 
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
 }

 .pagination a{
    color: #4D7E95;
 }


.no_post{
    background: white;
    text-align: center;
    padding: 20px 0px;
    font-size: 0.9em;
    font-weight: 300;
}

/* ----- CATEGORIES ----- */

.container_categories h1 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.container_categories{
    background-image: url(../images/feed_background.jpg);
    background-position: right 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

.categories_wrapper{
    border-radius: 10px;
    max-width: 1000px;
    width: 97%;
    margin: auto;
    padding-bottom: 80px;
}

.light_spacious#categories{
   padding: 60px 0px 50px 0px;
}

.categories_wrapper a{
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    border: 18px solid white;
}

.categories_wrapper h3{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 0.2em;
}


.image_wrappers{
    padding:2px;
    margin: auto;
}

#categoryid1{
    background-image: url('../images/sunglasses.jpg');
}

#categoryid2{
    background-image: url('../images/watches.jpg');
}

#categoryid3{
    background-image: url('../images/interior_ny.jpg');
}

#categoryid4{
    background-image: url('../images/other.jpg');
}

.dateorder{
    text-align: right;
    margin-bottom: 7px;
}

.dateorder a{
    background-color: white;
    color: black;
    padding: 10px;
}

.dateorder_active{
    text-decoration: underline;
}


/* Create/Edit Post Forms */
.createpost_page, .editpost_page{
   background-image: url(../images/feed_background.jpg);
    background-position: right 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}
.form{
    padding-top: 30px;
    background-color: white;
    border: 1px solid #bdbdbd;    
}

.editpost h1, .createpost h1{
    padding-top: 40px;
    padding-bottom:20px;
}

.createpost, .editpost{
    width: 100%;
    height: 100%;
    
}
input, textarea, select{
    width: 100%;
}

#title{
    height: 40px;
    border: 1px solid #bdbdbd;
}

textarea{
    border: 1px solid #bdbdbd;
}

/* CK Editor height */
.ck-editor__editable {
    min-height: 200px;
}

/* View Post Page */
.main_viewpost{
    padding: 20px 0 0 0;
}

#postsection_viewpost{
    height: auto;
    background: #fff;
    padding: 20px; 
}
.viewpost h1{
    padding-top: 40px;
    padding-bottom:20px;
    text-align: left;
}
#viewpost_span{
    float: left;
    width: 100%;
    padding: 10px 0 10px 0;
}

.viewpost h6{
    font-size: 0.9em;
    padding: 10px 0 10px 0;
    width: 50%;
    float: left;
}
#comments{
    text-align: right;
    padding: 10px 0 10px 0;
    width: 50%;   
}
.viewpost .text_container{
    background-color: white;
    padding: 20px 0 20px 0;
    margin-top: 10px;
}

.viewpost .img-fluid{
    display: block;
    max-width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.blogpost_image{
    display: block;
    width: 100%;
    height: 10px;
    position: relative;
    overflow: hidden;
    background-color:white;
    //padding: 75% 0 0 0; /* 4:3 aspect ratio */ 
    padding: 56.25% 0 0 0; /* 16:9 aspect ratio */
    //padding: 66.66% 0 0 0; /* 3:2 aspect ratio */
    
}

#delete_button, #edit_button{
    background: #f44336;
    border: #e53935;
    width: 100%;
    min-width: 60px;
    padding: 0.9vw;
    float: right;
    margin-top: -10px;
}

#edit_button{
    background: #0E3147;
    border: #0E3147;
}
#edit_button:hover{
    background-color: #C5B2AB;
    border: 1px solid #C5B2AB;
    margin-bottom: 0px;
}
#delete_button:hover{
    background-color: #C5B2AB;
    border: 1px solid #C5B2AB;
    margin-bottom: 0px;
}

.comments_displayed_on_viewpost_page{
    margin-top:20px;
    background:white;
    padding:2em;
    margin-bottom:0em; 
}

#commentbox{
    padding-bottom:0.2em;
    margin:0;
    display: inline-block;  
}
#comments_h1{
    margin-top: 2em;
    padding: 0;
    font-size: 1.5em;
}

#addcomments_h1{
    margin-bottom: .2em;
    margin-top: 1em;
    font-size: 1.5em;
}


#add_comments_form_viewpost{
    background: #fff;
    margin-bottom: 1em;
    padding: 1em;   
}

#comment_field_viewpost{
    padding: 1em;
    background: #f8f9fa;
    border: dimgray; 
    margin-bottom: 1em;
    margin-top: 1em;
    border:1px solid #e2e2e2;
    border-radius: 10px;
}

#not_logged_in_user{
    margin-top: 1em;
    background: #f8f9fa;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid #e2e2e2;
}


/* Profile Page */
.profile_header{
    background-image: url('../images/background_profilepage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
    text-align: center;
}

#profile_avatar{
    margin-top: 20px;
    margin-bottom: 20px;
}

#user_name{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

#user_stats{
    color: #fff;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 0.07em;
}

.profile_header .fa{
    font-size: 1.3em;
    vertical-align: bottom;
}

/* Write post-button */
.btn{
    background-color: #fff;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.btn:hover{
    background-color: #0E3147;
    color: #fff;
}

.profile_content{
    margin-top: 40px; 
    margin-bottom: 40px;
}

.posts_displayed_on_profile_page{
    background:white;
    padding:2em;
    margin-bottom:1em;
}


.user_comments_wrapper{
    margin-top: 40px; 
}

.profile_content h1{
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 1.6em;
    text-align: left;
    font-weight: 200;
    letter-spacing: 0.3em;
    color: #6D6D6D;
}

.profile_content h2{
    font-size: 1.7em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.title_date{
    margin: 0px;
}

.title_date>.postheading{
    float: left; 
}


.post_actions{
    margin: 0px;
}

.comments_displayed_on_profile_page{
background:white;
padding:2em;
margin-bottom:1em;
}

#comment_text{
    margin-top: 10px;
    margin-bottom: 0px;
    font-style: italic;

}

#edit_post_via_profile, #delete_post_via_profile{
    background: none;
    border: 0px;
    width: 180px;
    padding: 0px;
    margin: 0px;
    width: auto;
    border-radius: 0px;
    display: inline-block;
}

#edit_post_via_profile, #delete_post_via_profile, p{
    color: #4D7E95;
    font-size: 1em;
    text-align: left;
}

#edit_post_via_profile:hover, #delete_post_via_profile:hover{
    text-decoration: underline;
}

/* 404-page*/

.background_404{  
    background-image: url('../images/background_lightblue.jpg');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 0;
    display: -webkit-box;
    
}

.page_404{
    margin: auto;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 100px;
    max-width: 400px;
    border-radius: 10px;
    background: white;
    padding: 30px;
}

.page_404_message{
    margin: 20px;
}

.page_404 p{
    font-style: italic;
    font-size: 0.85em;
    margin: 5px;
}

.page_404 a{
    text-decoration: underline;
}

.page_404 img{
    opacity: 0.2;
    width: 300px;
}

/* ABOUT-page */

.about_container{
    background-image: url('../images/background_lightblue.jpg');
    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 0;
    min-height: 100vh;
}

.about_box{
    background-color: #fff;
    padding: 40px;
    margin-top: 160px;
    margin-bottom: 60px;
    border-radius: 15px;
}

.about_box h1{
    text-align: left;
    margin-bottom: 10px;
    line-height: 160%;
    font-size: 1.7em;
    font-weight: 200;
    letter-spacing: 0.3em;
}


/* Footer */
footer{
    background-color: #0E3147;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding: 20px;
}

footer a{
    color: #f2f2f2;
    font-size: 1em;
    letter-spacing: 0.1em;
    line-height: 140%;
    text-decoration: none;
}

footer a:hover{
    color: #97C9C6;
}

footer ul{
    padding: 0px;
}

footer li{
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    list-style: none;
    text-align: center;
}

footer li .fa{
    margin: 5px;
    font-size: 2em;
}


/* General text styling */
/*  Paragraphs */
p{
    color: #2d2d2d;
}

/*  Links */
a{
    color: #4D7E95;
}

a:hover{
    color: #4D7E95;
}


/*Special Headings*/
.light_spacious{
    text-align: center;
    color: #6D6D6D;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 2em;
    font-weight: 200;
    letter-spacing: 0.3em;
}


/*Span Classes*/
.uppercase {
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

.smallcaps{
    text-transform: lowercase;
    font-variant: small-caps;
}

.grey {
    color:#969696;
}

.darkgrey {
    color:#505050;
}


/* ---------------------------------- Tablet styling goes here ------------------------------ */
@media screen and (min-width: 768px){



    .login{ 
        width: 320px;
    }

    .thumbnail_wrapper{ 
        display: inline;
    } 

    .sidebar{
        display: none;
        background: none;
    }

    .light_spacious{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    
    .single_post_box_in_feed h2{
        margin-top: 5px;
        font-size: 1.4em;
    }

    .profile_content h1{
        font-size: 2em;        
    }
    

    .about_box h1{
        font-size: 2em;
    }

    select{
        width: 140%;       
    }
    
    .no_post{
    padding: 40px;
    font-size: 1.1em;
    }
        
/*Categories*/
/*overlay over image + disappears(opacity:0) when hover*/
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(000,0,0,0.7);
    opacity:0.7;
}

.categories_wrapper a:hover .overlay {
    opacity:0;
}

} /* Closing Tablet */

/* -------------------------------- Desktop styling goes here ----------------------------------- */
@media screen and (min-width: 992px){
    
.createpost, .editpost{
    width: 60%;
}
    .viewpost h6{
        font-size: 1em;
    }
    
    .sidebar{
        display: inline;
        background: #fff;
    }    

    .aside_months{
    display: inline;
}
    
    .aside_latest{
        margin-left: 0;
    }


 .image_wrappers{
    width: 80%;
}

.no_post{
    padding: 50px;
    font-size: 1.4em;
    max-height: 170px;
}


   
} /* Closing Desktop */